body{
    background-color: #2b2198;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;

}

.calculator{
    background-color: #25198e;
    padding: 20px;
    border: #000000;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 23px rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 49), 0.69);
}

.display{
    width: 100%;
    height: 50px;
    font-size: large;
    border: #000000;
    border-color: lightblue;
    border-radius: 10px;
    outline: black;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid button:nth-child(1),
.grid button:nth-child(2),
.grid button:nth-child(3),
.grid button:nth-child(18),
.grid button:nth-child(20){
    background-color: #003cff;
}

.grid button:nth-child(4),
.grid button:nth-child(8),
.grid button:nth-child(12),
.grid button:nth-child(16){
    background-color: #0bf;
}

.grid button:nth-child(19){
    background-color: #6700ff;
}


.grid button {
    padding: 10px;
    font-size: large;
    border: #000000;
    border-radius: 10px;
    cursor: pointer;
    color:rgb(179, 220, 255);
    background-color: #000796;
    transition: 0.15s ease;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.69);

}

.grid button:active{
    transform:translateY(4px);
    box-shadow: 0 1px 0 rgba(0,0,1,0.69);
}